
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Aaron's Portfolio</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link href="~/Content/linearicons.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />

</head>
<body>
    <div id="top"></div>

    <!-- Start Header Area -->
    <header class="default-header">
        <div class="sticky-header">
            <div class="container">
                <div class="header-content d-flex justify-content-between pull-right">
                    <div class="right-bar d-flex align-items-center">
                        <nav class="d-flex align-items-center">
                            <ul class="main-menu">
                                <li><a href="#top">Home</a></li>
                                <li><a href="#education">Education</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                            <a href="#" class="mobile-btn"><span class="lnr lnr-menu"></span></a>
                        </nav>
                        @*<div class="search relative">
                            <span class="lnr lnr-magnifier"></span>
                            <form action="#" class="search-field">
                                <input type="text" placeholder="Search here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search here'">
                                <button class="search-submit"><span class="lnr lnr-magnifier"></span></button>
                            </form>
                        </div>*@
                        <div class="header-social d-flex align-items-center">
                            <a href="https://www.facebook.com/aaron.boyles.9" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/aaronb05" target="_blank"><i class="fa fa-github-square"></i></a>
                            <a href="https://www.linkedin.com/in/aaron-boyles-b6443b18a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area relative" style="background-image: url('../../img/PraguePic.jpg');">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="banner-content text-center">
                        <h4 class="text-uppercase text-white">Software Developer</h4>
                        <br/>
                        <h1 class="text-uppercase text-white">Aaron Boyles </h1>
                        <br/>
                        <br/>
                        <img src="~/img/Aaron Boyles.jpg" class="img-thumbnail" style="height:150px; width:200px"/>
                        <br/>
                        <a href="#portfolio" class="primary-btn banner-btn">Explore My Work</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!-- Start Educatiom Area -->
    <section id="education" class="title-bg section-full">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="product-area-title text-center">
                        <p class="text-white text-uppercase">Education</p>
                        <h2 class="text-white h1">Former Education Institutions</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="icon">
                            <span class="lnr lnr-graduation-hat"></span>
                        </div>
                        <div class="desc">
                            <h4>UNC-Charlotte</h4>
                            <p>2008-2010 Electrical Engineering, 2010-2012 Exercise Science </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-product" style="min-height:315px">
                        <div class="icon">
                            <span class="lnr lnr-laptop"></span>
                        </div>
                        <div class="desc">
                            <h4>Coder Foundry</h4>
                            <p>672 Hour full stack course completion September 27, 2019</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-product" style="min-height:315px">
                        <div class="icon">
                            <span class="lnr lnr-briefcase"></span>
                        </div>
                        <div class="desc">
                            <h4>Maxim Label & Packaging</h4>
                            <p>December 31st 2019 - Present</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Education Area -->

    <!-- Start Proficiencies Area -->
    <div class="container pt-150">
        <div class="row">
            <div class="col-md-2">
                <img src="~/img/.neticon.jpg" class="img-thumbnail" style="min-height:200px"/>
            </div>
            <div class="col-md-2">
                <img src="~/img/jsicon.jpg" class="img-thumbnail" style="min-height:200px"/>
            </div>
            <div class="col-md-2">
                <img src="~/img/cSharpIcon.jpg" class="img-thumbnail" style="min-height:200px"/>
            </div>
            <div class="col-md-2">
                <img src="~/img/cssicon.png" class="img-thumbnail" style="min-height:200px"/>
            </div>
            <div class="col-md-2">
                <img src="~/img/html5ico.png" class="img-thumbnail" style="min-height:200px"/>
            </div>
            <div class="col-md-2">
                <img src="~/img/sql-icon.jpg" class="img-thumbnail" style="max-height:200px"/>
            </div>
        </div>
    </div>
    <!-- End Skills Area -->

    <!-- Start Portfolio Area -->
    <section id="portfolio" class="section-full">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="product-area-title text-center">
                        <p class="text-uppercase">Remarkable Works</p>
                        <h2 class="h1">Quick look at some of the projects and <br>  Coding Challenges I have completed</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="controls d-flex flex-wrap justify-content-center">
                <a class="filter active" data-filter="all">All</a>
                <a class="filter" data-filter=".category-1">Projects</a>
                <a class="filter" data-filter=".category-2">Coding Challenges</a>
            </div>
        </div>

        <div id="filter-content" class="row no-gutters mt-70">
            <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 single-filter-content content-1" data-myorder="1">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">Project 1</p>
                    <div class="line"></div>
                    <a href="https://aaronsblog.azurewebsites.net/" target="_blank"><h4 class="text-white text-uppercase">Blog <br /> Post</h4></a>
                </div>
            </div>
            <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 single-filter-content content-2" data-myorder="2">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">Project 2</p>
                    <div class="line"></div>
                    <a href="https://boylesbugtracker.azurewebsites.net/" target="_blank"><h4 class="text-white text-uppercase">Bug <br /> Tracker</h4></a>
                </div>
            </div>
            <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 single-filter-content content-9" data-myorder="3">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">Project 3</p>
                    <div class="line"></div>
                    <a href="https://sweetsbysav.com/" target="_blank"><h5 class="text-white text-uppercase">Sweets<br />by <br/> Sav</h5></a>
                </div>
            </div>
            <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 single-filter-content content-3" data-myorder="4">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">Project 3</p>
                    <div class="line"></div>
                    <a href="https://myfinancialportal.azurewebsites.net/" target="_blank"><h5 class="text-white text-uppercase">Financial <br /> Portal</h5></a>
                </div>
            </div>
            <div class="mix category-1  col-lg-3 col-md-4 col-sm-6 single-filter-content content-4" data-myorder="5">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">Project 4</p>
                    <div class="line"></div>
                    <a href=" https://aaronsfinancialapi.azurewebsites.net/" target="_blank"><h4 class="text-white text-uppercase">Financial <br /> API</h4></a>
                </div>
            </div>
            <div class="mix category-2 col-lg-3 col-md-4 col-sm-6 single-filter-content content-5" data-toggle="modal" data-target="#sumofallfearsEx" data-myorder="6">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">
                        Enter a set a number along with a set value and see if any of the numbers
                        you entered will add up to the set value
                    </p>
                    <div class="line"></div>
                    <h4 class="text-white text-uppercase">Sum of All Fears</h4>
                </div>
            </div>
            <div class="mix category-2 col-lg-3 col-md-4 col-sm-6 single-filter-content content-6" data-toggle="modal" data-target="#fizzbuzzEx" data-myorder="7">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">
                        Enter two numbers(numbers less than 10 work best) and see which numbers between
                        1 and 100 are multiples of one or both of your submissions
                    </p>
                    <div class="line"></div>
                    <h4 class="text-white text-uppercase">Fizz <br /> Buzz</h4>
                </div>
            </div>
            <div class="mix category-2 col-lg-3 col-md-4 col-sm-6 single-filter-content content-7" data-toggle="modal" data-target="#palindromeEx" data-myorder="8">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">Enter a word and I will tell you if it is a palindrome or not</p>
                    <div class="line"></div>
                    <h4 class="text-white text-uppercase">Palindrome <br /> Puzzle</h4>
                </div>
            </div>
            <div class="mix category-2 col-lg-3 col-md-4 col-sm-6 single-filter-content content-8" data-toggle="modal" data-target="#mathEx" data-myorder="9">
                <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                    <p class="text-white">Enter a set of 5 numbers, </p>
                    <div class="line"></div>
                    <h4 class="text-white text-uppercase">Fast <br /> Math</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Area -->

    <!-- Start Contact Area -->
    <section id="contact" class="section-full gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="product-area-title text-center">

                        <h2 class="h1">If you would like to contact me further, <br> Please send me a message below!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-30">
                    <p></p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="address mt-20">
                                <h4 class="text-uppercase mb-15">Physical Address</h4>
                                <p>2188 Willow Springs Dr<br> Pleasant Garden, NC 27313 </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="address mt-20">
                                <h4 class="text-uppercase mb-15">Phone and Email</h4>
                                <a href="tel:0000"> 336.688.4616</a> <br>
                                <a href="#"> aboyles05@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-30">
                    <form id="myForm" action="mail.php" method="post" class="contact-form">
                        <div class="single-input color-2 mb-10">
                            <input type="text" name="fname" placeholder="Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'" required>
                        </div>
                        <div class="single-input color-2 mb-10">
                            <input type="email" name="email" placeholder="Email Address" pattern="[A-Za-z0-9._%+-]+[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required>
                        </div>
                        <div class="single-input color-2 mb-10">
                            <input type="text" name="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'" required>
                        </div>

                        <div class="single-input color-2 mb-10">
                            <textarea name="message" placeholder="Type your message here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your message here...'" required></textarea>
                        </div>
                        <div class="d-flex justify-content-end"><button class="mt-10 primary-btn d-inline-flex text-uppercase align-items-center">Send Message<span class="lnr lnr-arrow-right"></span></button></div>
                        <div class="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Area -->

    <!-- Start Cta Area -->
    <section class="cta-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3"></div>
                <div class="col-lg-6 d-flex no-flex-xs justify-content-between align-items-center">

                    <a href="#" class="primary-btn d-inline-flex text-uppercase text-white align-items-center">Back To Top Of Page<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Cta Area -->

    <footer class="section-full">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">

                </div>
                <div class="col-lg-3 col-sm-6">

                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="text-white text-uppercase mb-20">Navigation Links</h6>
                        <div class="d-flex">
                            <ul class="footer-nav">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#education">Education</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-between align-items-center">
                <p class="footer-text m-0"> Designed by Aaron Boyles </p>
                <div class="footer-social d-flex align-items-center">
                    <a href="https://www.facebook.com/aaron.boyles.9"><i class="fa fa-facebook"></i></a>
                    <a href="https://github.com/aaronb05"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/aaron-boyles-b6443b18a/"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!--Modal Containers-->

    <div id="mathEx" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                   
                    <div class="tab-content">
                        <div >
                            <div>
                                <div class="row">
                                    <div class="col-md-12 text-center h3" style="padding-bottom:20px;">
                                        Lets Do Some Math!
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">Enter Number 1</div>
                                            <div class="col-md-6">
                                                <input type="number" id="mathnum1" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Enter Number 2</div>
                                            <div class="col-md-6">
                                                <input type="number" id="mathnum2" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Enter Number 3</div>
                                            <div class="col-md-6">
                                                <input type="number" id="mathnum3" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Enter Number 4</div>
                                            <div class="col-md-6">
                                                <input type="number" id="mathnum4" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Enter Number 5</div>
                                            <div class="col-md-6">
                                                <input type="number" id="mathnum5" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row text-center">
                                            <div class="col-md-6 text-center h5">
                                                Your Results!
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="output" id="smallest"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="output" id="largest"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="output" id="sum"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="output" id="product"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="output" id="average"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top:20px;">
                                    <div class="col-md-3">
                                        <button id="Btn1" class="btn btn-info">Calculate!</button>
                                    </div>
                                    <div class="col-offset-6 col-md-3">
                                        <button id="tcode1" class=" btn btn-info">Show Code</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="code1">
                                            <pre>
                                                //step 1
                                                var num1 = Number($("#mathnum1").val());
                                                var num2 = Number($("#mathnum2").val());
                                                var num3 = Number($("#mathnum3").val());
                                                var num4 = Number($("#mathnum4").val());
                                                var num5 = Number($("#mathnum5").val());
                                                //step 2
                                                var smallest = Math.min(num1, num2, num3, num4, num5);
                                                var largest = Math.max(num1, num2, num3, num4, num5);
                                                var sum = num1 + num2 + num3 + num4 + num5;
                                                var product = num1 * num2 * num3 * num4 * num5;
                                                var average = sum / 5;
                                                //step 3
                                                $("#smallest").text("The smallest number is :" + smallest);
                                                $("#largest").text("the largest number is :" + largest);
                                                $("#sum").text("the sum of the number is :" + sum);
                                                $("#product").text("the product is :" + product);
                                                $("#average").text("the average is :" + average);  
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="palindromeEx" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                   
                    <div>
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <input id="palIn" class="form-control" type="text" placeholder="Enter Your Word" />
                                    </div>
                                    <div class="row" style="padding-top:20px;">
                                        <div class="col-md-3">
                                            <button id="btnPal" class="btn btn-info">Lets Go</button>
                                        </div>
                                        <div class="col-offset-6 col-md-3">
                                            @*<button id="btnclear" class="btn btn-danger">Try Again</button>*@
                                            <button id="tcode3" class=" btn btn-info">Show Code</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <u>Results!</u>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p id="palOut"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="code3">
                                        <pre>
                                            //get the word
                                            var word = $("#palIn").val();

                                            //reverse word

                                            for (var i = word.length - 1, newword = ""; i >= 0; i--) {
                                                newword += word.substr(i, 1)

                                                if (word == newword) {
                                                    $("#palOut").text(word + " reversed = " + newword + " therefore " + word + " is a Palindrome!");
                                                }
                                                else {
                                                    //inform user
                                                    $("#palOut").text(word + " is not a palindrome");
                                                }
                                            }
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="fizzbuzzEx" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                   
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <input id="fb1" class="form-control" type="number" placeholder="Enter Your Number" />
                                </div>
                                <div class="row">
                                    <input id="fb2" class="form-control" type="number" placeholder="Enter Your Number" />
                                </div>
                                <div class="row" style="padding-top:20px;">
                                    <div class="col-md-3">
                                        <button id="btnFB" class="btn btn-info">Lets Go</button>
                                    </div>
                                    <div class="col-offset-6 col-md-3">
                                        @*<button id="btnclear" class="btn btn-danger">Start Over</button>*@
                                        <button id="tcode4" class=" btn btn-info">Show Code</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 text-center" >
                                        <h3>Results!</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="text-wrap:,">
                                        <p id="fbOut"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="code4">
                                    <pre>
                                        var num1 = +$("#fb1").val()
                                        var num2 = +$("#fb2").val()

                                        for (var counter = 1, output = []; counter <= 100; counter++) {
                                            if (counter % num1 == 0 && counter % num2 == 0) {
                                                output += 'FizzBuzz, ';
                                            }
                                            else if (counter % num1 == 0) {
                                                output += 'Fizz, ';
                                            }
                                            else if (counter % num2 == 0) {
                                                output += 'Buzz, ';
                                            }
                                            else {
                                                output += counter + ', ';
                                            }

                                        }
                                        //"<span class='fizz'>Fizz</span>"
                                        output = output.substr(0, output.length -2 )
                                        $("#fbOut").text(output);
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="sumofallfearsEx" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                   
                    <div>
                        <div class="row">
                            <div class="col-md-12 text-center">Please Enter A Positive Integer Into Each Box</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input id="saf1" class="form-control" type="number" placeholder="Number" />
                            </div>
                            <div class="col-md-2">
                                <input id="saf2" class="form-control" type="number" placeholder="Number" />
                            </div>
                            <div class="col-md-2">
                                <input id="saf3" class="form-control" type="number" placeholder="Number" />
                            </div>
                            <div class="col-md-2">
                                <input id="saf4" class="form-control" type="number" placeholder="Number" />
                            </div>
                            <div class="col-md-2">
                                <input id="saf5" class="form-control" type="number" placeholder="Number" />
                            </div>
                            <div class="col-md-2">
                                <input id="saf6" class="form-control" type="number" placeholder="Number" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px;">
                            <div class="col-md-6"> Whats In The Box?</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input id="userk" class="form-control" type="number" placeholder="Enter Number Here" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px;">
                            <div class="col-md-3">
                                <button id="findK" class=" btn btn-info">Find K!</button>
                            </div>
                            <div class="col-offset-6 col-md-3">
                                <button id="tcode5" class=" btn btn-info">Show Code</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p id="returnK" class="output"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="code5">
                                    <pre>
                                                $("#findK").click(function () {
                                            //get user data
                                            var num1 = +$("#saf1").val()
                                            var num2 = +$("#saf2").val()
                                            var num3 = +$("#saf3").val()
                                            var num4 = +$("#saf4").val()
                                            var num5 = +$("#saf5").val()
                                            var num6 = +$("#saf6").val()
                                            var k = +$("#userk").val()
                                            //find k
                                            let ktrue = false

                                            var kArray = [
                                                num1, num2, num3, num4, num5, num6
                                            ]

                                            for (let i = 0; i <= kArray.length-1; i++)
                                            {
                                                for (let y = i + 1; y <= kArray.length-1; y++)
                                                {
                                                    if (kArray[i] + kArray[y] == k) {

                                                        ktrue = true
                                                        $("#returnK").html("<b>" + k + "</b> was found by adding array members " + "<span class='target'>" + kArray[i] +
                                                            "</span> and <span class='target'>" + kArray[y] + "</span>");
                        
                                                    }
                
                                                }
                                            }
                                            if (ktrue == false) {

                                                $("#returnK").text('K Has Not Been Found');
                                            }

                                        </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    @* JS Files *@
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/mixitup.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/ModalScripts.js"></script>

</body>
</html>
